
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
}


.navInner {
  width: 95%;
  max-width: 1200px;
  padding: 0.85rem 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(45, 38, 75, 0.85);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  

  box-shadow:
    0 12px 32px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);

  

  
}


.logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #8a3ac7; 
  letter-spacing: 0.5px;
}


.navLinks {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}

.navItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.45rem;

  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;

  transition: color 0.25s ease;
}


.navItem::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0%;
  height: 2px;

  background: linear-gradient(90deg, #9d4edd, #c77dff);
  box-shadow: 0 0 8px rgba(199, 125, 255, 0.8);

  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.navItem:hover {
  color: #c77dff;
  text-shadow: 0 0 10px rgba(199, 125, 255, 0.7);
}

.navItem:hover::after {
  width: 100%;
}


.hamburger {
  display: none;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}


.mobileMenu {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 92%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: rgba(45, 38, 75, 0.9);
  backdrop-filter: blur(18px);

  border-radius: 16px;

  transform: translateX(-50%) translateY(-10px);
  opacity: 0;
  pointer-events: none;

  transition: all 0.3s ease;
}

.mobileMenu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.mobileMenu a:hover {
  color: #c77dff;
}

.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}


@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
